@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-image: linear-gradient(45deg, lime, lightblue);
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 100px;
}
.calculator_container {
  border-radius: 50px;
  margin-top: 75px;
  margin-bottom: 25px;
  height: auto;
  width: 600px;
  background: #fff;
}
.shape_name {
  margin-top: 15px;
  text-align: center;
}
.user_input {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.calculate {
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

.type {
  margin-left: 25px;
}
