@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-image: linear-gradient(45deg, lime, lightblue);
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 100px;
}
.calculator_container {
  border-radius: 50px;
  margin-top: 75px;
  margin-bottom: 25px;
  height: auto;
  width: 600px;
  background: #fff;
  transition: 0.2s;
}

.calculator_container:hover {
  background: lightyellow;
  transition: 0.2s;
  transform: scale(1.05) perspective(1px);
}

.shape_name {
  margin-top: 15px;
  text-align: center;
}
.user_input {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.calculate {
  margin-bottom: 5%;
  padding: 5px;
  border-radius: 12px;
  background-color: black;
  color: white;
  align-items: center;
  box-shadow: 3px 5px 5px #888888;
  transition: all 0.5s ease;
}
.calculate:hover {
  background-color: #4b403a;
  transition: 0.5s;
  transform: scale(1.2) perspective(1px);
}

.calculate:active {
  background-color: rgb(126, 114, 93);
  transition: 0.1s;
}

.calculations {
  display: flex;
  justify-content: center;
  padding: 2%;
  gap: 10px;
}

.type {
  margin-left: 10px;
}

.paragraph {
  font-weight: bold;
}
